<header>
  <div id="header-wrap" ng-include src="'modules/mainPage/views/header.html'">
  </div>
</header>


<div id="mywork-wrapper">
  <div id="left-column" class="column">
    <div class="box"style="background-image: url('modules/mywork/images/Stuff-SERP-4colV2_jy.png')">
    </div>
    <div class="box" style="background-image: url('modules/mywork/images/EatClean.png')">
    </div>
    <div class="box" style="background-image: url('modules/mywork/images/DestinationWeddingMag.png')">
    </div>
    <div class="box" style="background-image: url('modules/mywork/images/Savear.png')">    
    </div>
  </div>
  <div id="center-column" class="column">
    <a id="signals-slide" style="background-image: url('modules/mywork/images/Social_view.png')">
    </a>
  </div>
  <div id="right-column" class="column">
    <div class="box" style="background-image: url('modules/mywork/images/Streetchopperweb.png')">
    </div>
    <div class="box" style="background-image: url('modules/mywork/images/StreetchopperwebMobile.png')">
    </div>
    <div class="box" style="background-image: url('modules/mywork/images/Prevention.png')">
    </div>
    <div class="box" style="background-image: url('modules/mywork/images/Entrepreneur.png')">
    </div>
  </div>
</div>


<footer>
  <div id="footer-wrap" ng-include src="'modules/mainPage/views/footer.html'">
  </div>
</footer>