<header>
  <div id="header-wrap" ng-include src="'modules/mainPage/views/header.html'">
  </div>
</header>


<div id="mainRegion">

  <a class="resume nav-box" href="#/modules/resume/views/resume.html" style="background-image: url('modules/resume/images/resumeImage.png')"> 

  </a>

  <a class="myWork nav-box" href="#/modules/mywork/views/mywork.html" style="background-image: url('modules/mainPage/images/myWork.png')"> 
    
  </a>

  <a class="coolStuff nav-box"> 
    
  </a>
    
</div>


<footer>
  <div id="footer-wrap" ng-include src="'modules/mainPage/views/footer.html'">
  </div>
</footer>